name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run commitlint for push
        if: github.event_name == 'push'
        run: npx commitlint --last --verbose

      - name: Run commitlint for pull request
        if: github.event_name == 'pull_request'
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

      - name: Run ESLint
        run: npm run lint
      - name: Run Prettier
        run: npm run prettier:check

      - name: Run tests
        run: npm run test

      - name: Build project
        run: npm run build
